.flex-container {
    border:1px solid lavender;
    border-radius: 20px;
    margin: 10%;
    display: flex;
    padding: 3%;
    align-items:stretch;
    flex-direction: column;
    /* justify-content: space-around; */
}
.flex-inner-container{
    border:1px solid lavender;
    border-radius: 20px;
    /* box-shadow: 2px 2px 10px 10px; */
    display: flex;
    padding-left: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    margin:3%;
    flex-direction: column;
    background-color:rgba(0,0,0,0.2);
}
.flex-item{
    /* margin: 2%; */
}
.flex-inner-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.flex-bordered-item{
    margin:3%;
    border:1px solid lavender;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}